
.sectionClass{

    display: flex;  
    min-height: 60vh;
}

.blob{
    position:absolute;
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.blob:nth-child(2){
    filter: blur(60px);

}