.about-container{
    border-radius: 10px;
    background-color: rgb(225, 225,225, 0.2) ;
    min-width: 30rem;
    max-width: 60rem;
    margin: 2%;
    padding: 2%;
    text-align: start;
  
}

@media screen and (min-width: 726px) {
    .about-wrapper {
      display: flex;
      flex-direction: row;
      
      
    }
    .about-container{
        border-radius: 10px;
        background-color: rgb(225, 225,225, 0.2) ;
        min-width: 30rem;
        max-width: 60rem;
        margin: 2%;
        padding: 2%;
        text-align: start;
        justify-content: center;
    }
  }
p{
    font-size: 20px;
}

.profile-pic-container{
    max-width: 20rem;
    margin: 0%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.about-wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.pp{
    min-width: 300px;
    min-height: 300px;
    justify-content: center;
}