
.card-wrapper{
    display: flex;
    flex-direction: column;
    align-self: center;
    
    }
.card-para{
    text-align: left;
}

.card-image{
    height: 10px;
}

.skills-wrapper{
    display: flex;
    flex-direction: column;
    width: 1rem;
}


