

.header-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 8rem;
}


  

  @media screen and (min-width: 500px) {
    .header-wrapper{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin-top: 8rem;
  }
  }
