

.header-wrapper{
  display: flex;
  margin-top: 8rem;
  flex-direction: row;
 
    
}

.glowtext{
  color: blue;
}



.header-text{
padding: 10px;
flex: 80%;
text-align: left;
}

.blob-container{
padding: 10px;
flex: 20%;
}

@media (max-width: 500px) {
  .header-wrapper {
    flex-direction: column;

  }
}





  

  
  
