.App {
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

h1{
  font-size: 84px;
  font-family: 'Inter';
}

@media (max-width: 500px) {
  h2 {
  font-size: 2rem;
  font-family: 'Inter';


  }
}
h2{
  font-size: 3rem;
  font-family: 'Inter';
  font-weight: 700;
}
h3{
  font-size: 30px;
  font-family: 'Inter';

}
p{
  font-family: 'Inter';
}

.App-header {
  background-color: #091325;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



