.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

h1{
  font-size: 64;
  font-family: 'Inter';
}
h2{
  font-size: 55px;
  font-family: 'Inter';
}
p{
  font-family: 'Inter';
}

.App-header {
  background-color: #091325;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



